{% extends "layout.html" %}
{% block content %}
	<div class="container" style="margin-top: 80px">
		<div class="row">
			<div class="col-12">
				<div class="card custom-bg-color">
					<div class="card-body">
						<h1 class="card-title">Looper </h1>

						<p class="card-text">
							<small>Contact: Jerry Liu <a href="mailto:jerry.x.liu@aptiv.com">(jerry.x.liu@aptiv.com)</a>
							</small><br>
							<a href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/hil">
								<small class="text-muted">source code</small>
							</a>
						</p>
						<p class="card-text">
							Select a task on the frontpage to run it through the loop, a login is required.
							A more interactive list is available at your homepage which is accessible by clicking your username when logged in.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px">
			<div class="col-4">
				<div class="card custom-bg-color">
					<div class="card-body">
						<h4 class="card-title">Grand Compile Auto</h4>
						<p class="card-text">Customizable MATLAB-script compiler for HPCC usage purposes with web-front.</p>
						<a href="http://10.239.125.100:5000/" class="btn btn-link custom-button float-right">Visit</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card custom-bg-color custom-card">
					<div class="card-body">
						<h4 class="card-title">Shrunner</h4>
						<p class="card-text">Quick and dirty script to slurm batches of files for MATLAB. Ex. mat-file
							generation.</p>
						<a href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/shrunner"
						   class="btn btn-link custom-button float-right">Visit</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card custom-bg-color custom-card">
					<div class="card-body">
						<h4 class="card-title">Resimcity</h4>
						<p class="card-text">Python package to use with resims, using an OOP manner of handling slurm
							files.</p>
						<a href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/resimcity"
						   class="btn btn-link custom-button float-right">Visit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}