{% extends "layout.html" %}
{% block content %}
	<div class="container container-spaced-large">
		<div class="row">
			<div class="col-12">
				<div class="card bg-transparent-78">
					<div class="card-body">
						<h1 class="card-title">Looper </h1>

						<p class="card-text">
							<small>Contact: Jerry Liu <a class="link-aptiv" href="mailto:jerry.x.liu@aptiv.com">(jerry.x.liu@aptiv.com)</a>
							</small>
							<br>
							<a class="link-aptiv" href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/hil">
								<small class="text-muted">source code</small>
							</a>
						</p>
						<p class="card-text">
							Tasks a log-file to be run through the HIL.
						</p>
						<p class="card-text">
							<b>Instructions:</b><br>
							Select a log on the home page to run it through the loop, a login is required. Pressing the
							<i>Update List</i> button will manually update the file list, the operation will be running
							in the background and might take some time. Click the desired task id or status to show more
							detailed info regarding the specific task such as process log and run time. The front page
							only shows up to 30 tasks, to see a full list of all tasks visit the
							<a href="/history" class="link-white">history</a> page. At your home page there'll be a list
							of all the tasks run by you, a change password option is there aswell.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px">
			<div class="col-4">
				<div class="card bg-transparent-78">
					<div class="card-body">
						<h4 class="card-title">Grand Compile Auto</h4>
						<p class="card-text">Customizable MATLAB-script compiler for HPCC usage purposes with
							web-front.</p>
						<a href="http://10.239.125.100:5000/"
						   class="btn btn-link custom-button float-right link-aptiv">Visit</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card bg-transparent-78 custom-card">
					<div class="card-body">
						<h4 class="card-title">Shrunner</h4>
						<p class="card-text">Quick and dirty script to slurm batches of files for MATLAB. Ex. mat-file
							generation.</p>
						<a href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/shrunner"
						   class="btn btn-link custom-button float-right link-aptiv">Visit</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card bg-transparent-78 custom-card">
					<div class="card-body">
						<h4 class="card-title">Resimcity</h4>
						<p class="card-text">Python package to use with resims, using an OOP manner of handling slurm
							files.</p>
						<a href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/resimcity"
						   class="btn btn-link custom-button float-right link-aptiv">Visit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}