{% extends "layout.html" %}
{% block content %}
	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-12">
				<div class="card custom-bg-color">
					<div class="card-body">
						<h1 class="card-title">Looper </h1>

						<p class="card-text">
							<small>Contact: Jerry Liu <a href="mailto:jerry.x.liu@aptiv.com">(jerry.x.liu@aptiv.com)</a>
							</small>
							<a href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/hil">
								<small class="text-muted">source code</small>
							</a>
						</p>
						<p class="card-text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique turpis vel
							velit efficitur, quis dignissim mauris pretium. Nam lacinia euismod pellentesque. Orci
							varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
							tempor, ex at sagittis elementum, mauris sem commodo felis, vitae consequat justo tortor sed
							velit. Suspendisse tincidunt convallis congue. Quisque et finibus turpis, at dignissim nisi.
							Ut finibus odio a tempor cursus. Donec ut urna erat. Praesent id lorem nec sapien luctus
							dictum. Sed hendrerit ligula vel lectus porttitor rhoncus. Etiam a varius ligula. Morbi
							consectetur vestibulum leo, a egestas dolor malesuada vitae. Duis convallis purus ut turpis
							pharetra placerat. Praesent efficitur nunc urna, et hendrerit nisl faucibus in. Phasellus
							porttitor felis a tellus lacinia, nec dictum lorem rhoncus.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 10px">
			<div class="col-4">
				<div class="card custom-bg-color">
					<div class="card-body">
						<h4 class="card-title">Grand Compile Auto</h4>
						<p class="card-text">Customizable MATLAB-script compiler for HPCC usage purposes.</p>
						<a href="http://10.239.125.100:5000/" class="btn btn-info custom-button">Visit</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card custom-bg-color custom-card">
					<div class="card-body">
						<h4 class="card-title">Shrunner</h4>
						<p class="card-text">Quick and dirty script to slurm batches of files for MATLAB. Ex. mat-file
							generation.</p>
						<a href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/shrunner"
						   class="btn btn-info custom-button">Visit</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card custom-bg-color custom-card">
					<div class="card-body">
						<h4 class="card-title">Resimcity</h4>
						<p class="card-text">Python package to use with resims, using an OOP manner of handling slurm
							files.</p>
						<a href="https://hpc-gitlab.europe.delphiauto.net/mjbf5f/resimcity"
						   class="btn btn-info custom-button">Visit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}