{% extends "layout.html" %}
{% block content %}
<div class="row">
	<!--Current Operation Table-->
	<div class="col-8">
		<table class="table table-striped table-dark custom-bg-color" style="border-radius: 5px">
			<h3 class="text-light header-adjust">Current operations</h3>
			<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">User</th>
				<th scope="col">Log</th>
				<th scope="col">Time</th>
				<th scope="col">Status</th>
			</tr>
			</thead>
			<tbody>
			{% for task in tasks %}
			<tr>
				<th scope="row">{{ task[0] }}</th>
				<td>{{ task[1] }}</td>
				<td class="text-limit">{{ task[2] }}</td>
				<td>{{ task[3] }}</td>
				<td>{{ task[4] }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<!--Submit New Task Table-->
	<div class="col-4">
		<form method="post" action="/create" id="form-create-task">
			<h3 class="text-light header-adjust">Submit New</h3>
			<div class="form-group custom-bg-color form-custom">
					<select name="filename" class="form-control dropdown-custom" id="fileSelector" required>
						<option value="" disabled selected hidden>Select log to run.</option>
						{% for log in logs %}
						<option value="{{ log }}">{{ log }}</option>
						{% endfor %}
					</select>
					<button type="submit" class="btn btn-dark btn-custom">Submit</button>
			</div>
			<!--<div class="form-check form-check-inline">-->
			<!--<input class="form-check-input" type="checkbox" value="meow" id="check1">-->
			<!--<label class="form-check-label text-light" for="check1">-->
			<!--Hello Kitty-->
			<!--</label>-->
			<!--</div>-->
			<!--<div class="form-check form-check-inline">-->
			<!--<input class="form-check-input" type="checkbox" value="woof" id="check2">-->
			<!--<label class="form-check-label text-light" for="check2">-->
			<!--Doggy Doggy what now?-->
			<!--</label>-->
			<!--</div>-->
			<div class="form-group">
			</div>
		</form>
	</div>
	<div class="text-light" style="margin-top:15px">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
			anim id est laborum.</p>
	</div>
</div>
</div>
{% endblock %}