<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hardware in a Loop</title>

	<!--Bootstrap stylesheet-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		  integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!--Custom stylesheet-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

	<!--Favicon-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
			integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
			crossorigin="anonymous"></script>


	<!--Custom scripts-->
	<style type="text/css">
	</style>
	<script type="text/javascript">
	</script>
</head>
<body class="bg-light text-white">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark transparent">
	<a class="navbar-brand" href="/index">Looper</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/info">Features</a>
		</li>
	</ul>
	<div class="my-2 my-lg-0">
		<img src="{{ url_for('static', filename='img/logo/large_transparent_white.png') }}" width="133" height="30"
			 alt="">
	</div>
</nav>
<div class="container" style="margin-top:30px">
	{% block content %}
	{% endblock %}
</div>
{% block script %}
{% endblock %}
</body>
</html>