{% extends "layout.html" %}
{% block content %}
	<div class="container container-spaced-large">
		<form method="post" action="/change-password" id="form-register">
			<h3 class="header-adjust">Change Password
			<a class="btn link-aptiv float-right" href="home">Go Back</a>
			</h3>
			<div class="bg-transparent-78 form-medium">
				{{ form.hidden_tag() }}
				<div class="form-group">
					{{ form.current_password.label(class="form-text") }}
					{{ form.current_password(class="form-control") }}
					{% if form.current_password.errors %}
						{% for error in form.current_password.errors %}
							<small class="text-warning">{{ error }}</small>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.new_password.label(class="form-text") }}
					{{ form.new_password(class="form-control") }}
					{% if form.errors %}
						{% for error in form.new_password.errors %}
							<small class="text-warning">{{ error }}</small>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-dark btn-custom") }}
				</div>
			</div>
		</form>
	</div>
{% endblock %}