{% extends "admin/master.html" %}
{% block body %}
	<div class="container">
		<h1>Upload a file to the server</h1>
		<form method="post" enctype="multipart/form-data" action="/admin/upload/">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.file.label(class="form-text") }}
				{{ form.file }}
				{% for error in form.file.errors %}
					<small class="text-warning">{{ error }}</small>
				{% endfor %}
			</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-primary btn-custom") }}
			</div>
		</form>
	</div>
{% endblock %}
