{% extends "layout.html" %}
{% from "layout.html" import form_field, task_table %}
{% block script %}
	<script src="{{ url_for('static', filename='js/query_progress.js') }}"></script>
{% endblock %}
{% block content %}
	<div class="container container-spaced-medium">
		<div class="row">
			<!--Current Operation Table-->
			<div class="col-lg-8">
				<h3 class="text-light header-adjust">Current tasks</h3>
				{{ task_table(tasks, small=True) }}
			</div>
			<!--Submit New Task Table-->
			<div class="col-md-4">
				{% if session['user_name'] %}
					<form method="post" action="/create/log" id="form-task">
						<h3 class="text-light header-adjust">Create new task</h3>
						<div class="bg-transparent-78 form-medium">
							{{ form[0].hidden_tag() }}
							{{ form_field(form[0].file_name) }}
							<div class="form-group">
								{{ form[0].submit(class="btn btn-dark btn-custom") }}
							</div>
					</form>
					<div class="strike">
						<span>OR</span>
					</div>
					<form method="post" action="/create/suite" id="form-suite">
						{{ form[1].hidden_tag() }}
						<div class="form-group">
							<label class="form-text" for="suite-file_name">Select folder</label>
							{{ form[1].file_name(class="form-control", id="suiteSelector") }}
						</div>
						<div class="form-group">
							{{ form[1].submit(class="btn btn-dark btn-custom") }}
							<a href="{{ url_for('db_update_files') }}"
							   class="btn btn-link link-aptiv float-right"
							   title="Update log list, might take some time.">Update List</a>
						</div>
					</div>
					</form>
				{% else %}
					<form method="post" action="/login" id="form-login">
						<h3 class="header-adjust">Login</h3>
						<div class="bg-transparent-78 form-medium">
							{{ form[0].hidden_tag() }}
							{{ form_field(form[0].name, placeholder='Ex. mjbf4f') }}
							{{ form_field(form[0].password, placeholder='Password') }}
							<div class="form-group">
								{{ form[0].submit(class="btn btn-dark btn-custom") }}
							</div>
						</div>
					</form>
					<form method="post" action="/register" id="form-register">
						<h3 class="header-adjust">Register</h3>
						<div class="bg-transparent-78 form-medium">
							{{ form[1].hidden_tag() }}
							{{ form_field(form[1].name, placeholder='Ex. mjbf4f') }}
							{{ form_field(form[1].password, placeholder='Password') }}
							<div class="form-group">
								{{ form[1].submit(class="btn btn-dark btn-custom") }}
							</div>
						</div>
					</form>
					<p style="margin: 5px;">Note: A login is required to run tasks.</p>
				{% endif %}
		</div>
	</div>
	</div>
{% endblock %}