{% extends "layout.html" %}
{% from "layout.html" import form_field %}
{% block content %}
	<div class="container container-spaced-large">
		<form method="post" action="/change-password" id="form-register">
			<h3 class="header-adjust">Change Password
			<a class="btn link-aptiv float-right" href="home">Go Back</a>
			</h3>
			<div class="bg-transparent-78 form-medium">
				{{ form.hidden_tag() }}
				{{ form_field(form.current_password) }}
				{{ form_field(form.new_password) }}
				<div class="form-group">
					{{ form.submit(class="btn btn-dark btn-custom") }}
				</div>
			</div>
		</form>
	</div>
{% endblock %}