{% extends "layout.html" %}
{% from "layout.html" import task_table %}
{% block script %}
	<script src="{{ url_for('static', filename='js/filter_status.js') }}"></script>
{% endblock %}
{% block content %}
	{% set task = suite.tasks[0] %}
	{% set dir_length =  task.file.path|length - task.file.name|length - 4 %}
	<div class="container container-spaced-large">
		<div class="row">
			<div class="col-md-12">
				<div class="card bg-transparent-78" style="margin-bottom:2em">
					<div class="card-body">
						<h3 class="card-title">Suite: {{ suite.id }}</h3>
						<p class="card-text">
						<table>
							<tr>
								<td class="spaced">
									<strong>User:</strong>
								</td>
								<td>
									{{ task.user.name }}
								</td>
							</tr>
							<tr>
								<td class="spaced"><strong>Status:</strong></td>
								<td id="status-sum">
									HOLD
								</td>
							</tr>
							<tr>
								<td class="spaced"><strong>Folder Path:</strong></td>
								<td>
									{{ task.file.path|truncate(dir_length, True, '') }}
								</td>
							</tr>
							<tr>
								<td class="spaced"><strong>Software:</strong></td>
								<td>
									{{ task.software.name }}
								</td>
							</tr>
						</table>
						</p>
						<p class="card-text">
						<table>
							<tr>
								<td class="spaced"><strong>Time Started:</strong></td>
								<td>
									{{ task.time_created.strftime('%y-%b-%d, %H:%M') }}
								</td>
							</tr>
							<tr>
								<td class="spaced">
									<strong>Time Updated:</strong>
								</td>
								<td>
									{{ task.time_update.strftime('%y-%b-%d, %H:%M') }}
								</td>
							</tr>
							<tr>
								<td class="spaced">
									<strong>Time Elapsed:</strong>
								</td>
								<td>
									{{ "{:.2f} Minutes".format((task.time_update - task.time_created).seconds / 60) }}
								</td>
							</tr>
						</table>
						</p>
						<h5 class="card-title">Logs run:
							<a class="btn link-aptiv float-right" href="#">Download All</a>
						</h5>
						{{ task_table(suite.tasks, limited=False) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}